<!-- #docregion align-start -->
<mat-tab-group mat-align-tabs="start">
    <!-- #enddocregion align-start -->
    <mat-tab label="Datos personales">
        <mat-card>
            <p>Fecha Nacimiento : 02/02/1987</p>
            <p>Lugar Nacimiento : Loja</p>
            <p>Nombres : Juan Perez</p>
            <p>Direcion de domicilio : Conocoto</p>
        </mat-card>

    </mat-tab>
    <mat-tab label="Datos de contacto">
        <mat-card>
            <p>Correo electronico: silyu@hotmail.com</p>
            <p>Celular: 0987554525</p>
            <p>Telefono de domicilio: 02456542</p>
        </mat-card>
    </mat-tab>
</mat-tab-group>




<!-- Copyright 2022 Google LLC. All Rights Reserved.
        Use of this source code is governed by an MIT-style license that
        can be found in the LICENSE file at https://angular.io/license -->