<div class="row">
    <div class="col-xs-10 col-md-12 col-lg-12 col-xl-12 offset-xs-1">
        <div class="titularTipoTres">
            <div class="subtitular main-container">
                <span>Cuentas de ahorros</span>
            </div>
        </div>
    </div>
    <div class="card text-dark bg-light mb-3" style="max-width: 18rem;">
        <div class="card-header text-left">Juan <span class="label label-default text-right">616666666666</span>
        </div>
        <div class="card-body">
            <div class="card-title">Disponible
                <span class="card-text label label-default text-right">1.170,85 USD</span>
            </div>
            <div class="card-title">Contable
                <span class="card-text label label-default text-right">170,85 USD</span>
            </div>
        </div>
    </div>
    <div style="max-width: 4rem;">
    </div>
    <div class="card text-dark bg-light mb-3" style="max-width: 18rem;">
        <div class="card-header text-left">Juan AH <span class="label label-default text-right">2200555555</span>
        </div>
        <div class="card-body">
            <div class="card-title">Disponible
                <span class="card-text label label-default text-right">11,85 USD</span>
            </div>
            <div class="card-title">Contable
                <span class="card-text label label-default text-right">10,85 USD</span>
            </div>
        </div>
    </div>

</div>

<div class="row">
    <div class="col-xs-10 col-md-12 col-lg-12 col-xl-12 offset-xs-1">
        <div class="titularTipoTres">
            <div class="subtitular">
                <span>Tarjetas de credito</span>
            </div>
        </div>
    </div>

    <div class="card text-dark bg-light mb-3" style="max-width: 25rem;">
        <div class="card-header text-left">MSC PLATINUM MILES BP <span class="label label-default text-right">524444******5122</span>
        </div>    
        <div class="card-body">
            <div class="card-title">Valor a pagar a la fecha 
                <span class="card-text label label-default text-right">111,85 USD</span>
            </div>
            <div class="card-title">Contable
                <span class="card-text label label-default text-right">10,85 USD</span>
            </div>
        </div>
    </div>
</div>